<h1>{{title}}</h1>

<!-- 
<h2>My favorite hero is: {{myHero}}</h2>  
<li *ngFor="let hero of heroes">
  {{ hero }}
</li>
-->

My favorite hero is: {{myHero.name}}
<li *ngFor="let hero of heroes">
  {{ hero.id}} - {{ hero.name}} 
</li>

<p *ngIf="heroes.length > 3">There are many heroes!</p>

<input [(ngModel)]="myHero.name" placeholder="name">
<br>
<select [(ngModel)]="myHero" 
        (ngModelChange)="onChange($event)">>
  <option *ngFor="let hero of heroes" [ngValue]="hero">{{hero.name}}</option>
</select>



<button (click)="AddHero()">Add hero</button>
<button (click)="RemoveHero()">RemoveHero</button>






